.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topContainer h6 {
  font-size: 12px;
  font-style: italic;
}

.topContainer button {
  background-color: white;
  color: red;
  padding: 5px 8px;
  margin: 4px 5px;
  font-size: 12px;
}

.mainContainer {
    border: 0.5px solid lightblue;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    max-width: 400px;
}

.mainContainer p {
    text-align: left;
    font-size: 14px;
}

.reviewContainer {
    overflow-y: auto;
    height: 40vh;
}
